<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script data-ad-client="ca-pub-3838291101850049" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <title>Quotes / Цитаты</title>
        <link rel="stylesheet" href="/style.css" />
        <%- include('./googleanalytics.ejs') %>
    </head>
</html>
