<%- include('./partials/head.ejs') %>
<body>
    <div class="container">
        <%- include('./partials/navbar.ejs') %>
        <div class="quote">
            <div class="quoteText">
                <a href="/en">Quotes</a> or / или <a href="/ru">Цитаты</a>
            </div>
        </div>
        <%- include('./partials/footer.ejs') %>
    </div>
</body>

<%- include('./partials/basement.ejs') %>
